@model DishFormModel

@{
    ViewData["Title"] = "Add New Recipe";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />

<partial name="_DishFormPartial" model="@Model"/>

@section Scripts
{
    <partial name="_ValidationScriptsPartial"/>
}
