@model IEnumerable<IndexViewModel>

@{
    ViewData["Title"] = "Most Rated Dishes";
}

@if (Model.Any())
{
    <div class="row">
        <partial name="_DishShortViewPartial" model="@Model" />
    </div>
}
else
{
        <h1 class="text-danger">There are no recipes.</h1>
}
