@model IEnumerable<IndexViewModel>

@{
    ViewData["Title"] = "Saved Recipes";
}

@if (Model.Any())
{
    <div class="row">
        <partial name="_DishShortViewPartial" model="@Model" />
    </div>
}
else
{
    <div class="container">
        <h1>There are no saved recipes.</h1>
    </div>
}
