<div class="container">
    <img class="col-8 offset-2" src="https://i0.wp.com/www.silocreativo.com/en/wp-content/uploads/2017/11/error-404-animacion-CSS.gif?resize=675%2C368&quality=100&strip=all&ssl=1" alt="Page 404 Not Found"></img>
    <a class="btn btn-primary col-4 offset-4 mt-4" asp-controller="Home" asp-action="Index" role="button">Go Home</a>
</div>