@model IEnumerable<IndexViewModel>
@{
    ViewData["Title"] = "Home Page";
}

@if (Model.Any())
{
    <div class="row">
        <partial name="_DishShortViewPartial" model="@Model" />
    </div>
}
else
{
    <div class="container">
        <h1 class="text-danger">There are no recipes. Why don't you add some? </h1>
        <p>Click <a class="text-danger" asp-controller="Dish" asp-action="Add">Here</a> and add your first recipe!</p>
    </div>
}